.hero__section {
    /* background-image: url("../assets/images/tao-HT.png"); */
    height: 540px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section__title{
    margin-bottom: 1.5rem;
    color: black;
    font-family: sans-serif;
}
/* .hero__content h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0px;
}

.hero__content p {
    color: var(--primary-color);
    line-height: 28px;
}

.hero__content p:nth-child(1) {
    font-weight: 500;
} */

.buy__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
    margin-left: 40px;
}

.cart__button{
    width: 100%;
}

.buy__btn a:hover {
    color: #fff;
}

.hero__content {
    padding-top: 45px;
}

.timer_count {
    background: var(--primary-color);
    height: 300px;
}

.timer_count img {
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
}

.store__btn {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.store__btn a:hover {
    color: var(--primary-color);
}

.services{
    background-color: var(--apple-color-01)
}

.trending_products, 
.best__sales,
.new__arrivals,
.all__products{
    background-color: #FFF8E3;
}

.timer_count{
    background-color: var(--apple-color-02);
}

@media only screen and (max-width: 992px) {
    .hero__content h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .hero__content h2 {
        font-size: 1.6rem;
    }

    .hero__content p {
        font-size: 0.9rem;
    }

    .buy__btn {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 576px) {
    .hero__content {
        padding-top: 0;
        margin-bottom: 40px;
    }
}